* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: aqua;
  background-color: darkgreen;
}

h1 {
  font-size: 62.5px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
